BlockBreaker/.vs/
BlockBreaker/Builds/
BlockBreaker/Library/
BlockBreaker/Logs/
BlockBreaker/obj/
BlockBreaker/Packages/
BlockBreaker/Temp/
Glitch Garden/.vs/
Glitch Garden/Library/
Glitch Garden/Logs/
Glitch Garden/obj/
Glitch Garden/Packages/
Glitch Garden/Temp/
HelloWorld/.vs/
HelloWorld/Library/
HelloWorld/Logs/
HelloWorld/obj/
HelloWorld/Packages/
HelloWorld/Temp/
Lazer Defender/.vs/
Lazer Defender/Build/
Lazer Defender/Library/
Lazer Defender/Logs/
Lazer Defender/obj/
Lazer Defender/Packages/
Lazer Defender/Temp/
Number Wizard Console/.vs/
Number Wizard Console/Library/
Number Wizard Console/Logs/
Number Wizard Console/obj/
Number Wizard Console/Packages/
Number Wizard Console/Temp/
NumberWizardUI/.vs/
NumberWizardUI/Library/
NumberWizardUI/Logs/
NumberWizardUI/obj/
NumberWizardUI/Packages/
NumberWizardUI/Temp/
PlayingWithSprites/.vs/
PlayingWithSprites/Library/
PlayingWithSprites/Logs/
PlayingWithSprites/obj/
PlayingWithSprites/Packages/
PlayingWithSprites/Temp/
Text101/.vs/
Text101/Library/
Text101/Logs/
Text101/obj/
Text101/Packages/
Text101/WebGL_Game/
Text101/Temp/
Glich Garden/Library/
NumberWizardUI/Build/
Text101/Assets/TextMesh Pro/Examples & Extras/
